<%
  boardClassName = "
    bg-gradient-to-r from-violet-500 to-indigo-500 p-8
    rounded aspect-square justify-center items-center
    grid gap-6 grid-cols-#{@board_size} grid-rows-#{@board_size}
  "

  tileClassName = "
    shadow-sm hover:shadow-2xl rounded bg-black
    justify-self-center w-24 max-w-36 aspect-square
  "
%>

<div id="store--elements" data-controller="store"></div>

<div
  id="board"
  class="<%= boardClassName %>"
  data-controller="board"
  data-board-store-outlet="div#store--elements"
>
  <% (@board_size * @board_size).times do |index| %>
    <div
      id="tile_<%= index %>"
      class="<%= tileClassName %>"
      data-action="click->board#flip"
      data-tile-index="<%= index %>"
      data-tile-is-open="false"
    >
    </div>
  <% end %>
</div>